{% extends "shared/base.html" %}
{% load static %}
{% load socialaccount %}

{% block content %}
<main class="login">
    <div class="maisJogadosHist-container">
        <h1 class="maisJogadosHist-title">Jogos mais e menos Jogados</h1>
        
        <div class="main-content">
            <form method="get" action="{% url 'maisJogadosHist' %}">
                <div class="filter-options">
                    <label>
                        <input type="radio" name="filter" value="mais-jogados" {% if filtro == 'mais-jogados' %}checked{% endif %} onchange="this.form.submit()">
                        Mais Jogados
                    </label><br>
                    <label>
                        <input type="radio" name="filter" value="menos-jogados" {% if filtro == 'menos-jogados' %}checked{% endif %} onchange="this.form.submit()">
                        Menos Jogados
                    </label>
                </div>
            </form>

            <div class="games-grid">
                {% for jogo in jogos %}
                <div class="game-cardJogados">
                    <a href="{% url 'paginaJogo' nome=jogo.nome %}">
                        <img src="{{ jogo.imagem }}" alt="{{ jogo.nome }}">
                        <div class="game-info">
                            <h3>{{ jogo.nome }}</h3>
                            <p>Lançado em: {{ jogo.lancamento }}</p>
                            <p>Nota: {{ jogo.rating }}</p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
