{% extends "shared/base.html" %}

{% load static %}
{% load socialaccount %}

{% block content %}
<main>
    <div class="container">
        {% if gameInfo %}
        <div class="game-header">
            <img class="game-image" src="{{ gameInfo.image_url }}" alt="Capa do Jogo">
            <div class="adicionar-container">
                {% if not ja_na_wishlist %}
                    <form method="post" action="{% url 'adicionarWishlist' %}">
                    {% csrf_token %}
                    <input type="hidden" name="game_name" value="{{ gameInfo.name }}">
                    <button type="submit" class="adicionar-button">
                        <img src="{% static 'img/carrinho.png' %}" alt="Adicionar" class="adicionar-icon">
                        <span>Adicionar à wishlist</span>
                    </button>
                </form>
                {% else %}
                    <p>Este jogo já está na sua wishlist.</p>
                {% endif %}
            </div>
        </div>
        <div class="game-info">
            <h2>SOBRE O JOGO - {{ gameInfo.name }}</h2>
            <p><strong>Nota:</strong> {{ gameInfo.rating }}🌟</p>
            <p>{{ gameInfo.description }}</p>
            <p><strong>Preço:</strong> {{ gameInfo.price }}</p>
        </div>
        {% else %}
        <p>Jogo não encontrado.</p>
        {% endif %}
    </div>
</main>
{% endblock %}
