{% extends "shared/base.html" %}
{% load static %}
{% load socialaccount %}

{% block content %}
<h2 style="color: #ecf0f1; text-align: center; margin-top: 10px;">Jogos com Melhor Avaliação</h2>

<div class="games-grid" id="games-container">
  <!-- Cards serão adicionados aqui via JS -->
</div>

<div style="text-align: center; margin: 20px;">
  <button id="load-more" style="padding: 10px 20px; font-weight: bold;">Mostrar mais</button>
</div>
{% endblock %}

{% block extra_scripts %}
<link rel="stylesheet" href="{% static 'styles/rating.css' %}">
<script src="{% static 'js/ratingsearch.js' %}"></script>
{% endblock %}
