{% extends "shared/base.html" %}

{% load static %}

{% block content  %}
<main>
    <div class="container">
        {% if gameInfo %}
        <img class="game-image" src="{{ gameInfo.image_url }}" alt="Capa do Jogo">
        <div>
            <h2>SOBRE O JOGO - {{ gameInfo.name }}</h2>
            <p><strong>Nota:</strong> {{ gameInfo.rating }}🌟</p>
            <p>{{ gameInfo.description }}</p>
            <p><strong>Preço:</strong> {{ gameInfo.price }}</p>
        </div>
        {% else %}
        <p>Jogo não encontrado.</p>
        {% endif %}
    </div>
</main>
{% endblock  %}
