{% load static %}
{% load socialaccount %}

<header>
    <div class="container">
        <h1>STEAMVIEW</h1>
        <nav>
            <ul>
                <li>
                    <a href = "{% url 'searchBar' %}">Search Bar</a>
                <li>
                    <a href ="{% url 'ratingSearchPage' %}">Ratings</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                <li>
                    <a href="{% url 'account_logout' %}">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</header>