{% load static %}
{% load socialaccount %}

<header class="steam-header">
    <div class="container">
        <h1>STEAMVIEW</h1>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'searchBar' %}">Search Bar</a>
                <li>
                    <a class="ratings" href="{% url 'ratingSearchPage' %}">Ratings</a>
                </li>
                <li>
                    <a class="maisJogados" href="{% url 'maisJogados' %}">TOP20 do Mês</a>
                </li>
                <li>
                    <a class="maisJogadosHist" href="{% url 'maisJogadosHist' %}">Mais Jogados</a>
                </li>
                <li>
                    <a href="{% url 'lancamentos_recentes' %}">Lançamentos</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                <li>
                    <a href="{% url 'account_logout' %}">Logout</a>
                </li>

            </ul>
        </nav>
    </div>
</header>